/*.images{
    margin:10px;
}*/
.babbage_birth{
    display: flex;
    align-items: flex-end;
}
.birth{
    text-align: top;
    width:30%;
}
.images{
    display: flex;
    justify-content: space-around;
}
.half{
    height:40%;
}
.machine {
    height:500px;
    width:100%;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows:1fr 3fr 3fr;
    grid-template-areas: 
        "title title title"
      "mill equal cpu"
      "store equal1 memory";
      align-content: space-around;
     
      /* align-items: center; justify-items: center;*/
}
.title {
    grid-area: title;
    
}
.mill {
    grid-area: mill;
    background: url("../img/mill.jpg") no-repeat ;
    background-size: contain;
    background-position: center center;
}
.equal {
    grid-area: equal;
    background: url("../img/equal.png") no-repeat;
    background-size: contain;
    background-position: center center;
}
.equal1 {
    grid-area: equal1;
    background: url("../img/equal.png") no-repeat;
    background-size: contain;
    background-position: center center;
}
.cpu {
    grid-area: cpu;
    background: url("../img/cpu.jpg") no-repeat;
    background-size: contain;
    background-position: center center;
}
.store{
    grid-area: store; 
    background: url("../img/store.jpg") no-repeat;
    background-size: contain;
    background-position: center center;
}
.memory{
    grid-area: memory; 
    background: url("../img/memory.jpg") no-repeat;
    background-size: contain;
    background-position: center center;
}
.images_lovelace{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}
.centering{
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	align-content: center;
    text-align:center;
}